<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->

	<bean id="petrol" class="com.rajabhay.beans.PetrolEngine" />
	<bean id="disel" class="com.rajabhay.beans.DiselEngine" />
	<bean id="electric" class="com.rajabhay.beans.ElectricEngine" />
	<bean id="car" class="com.rajabhay.beans.Car">
		<!--<property name="iEngine" ref="electric" />-->
		<constructor-arg name="iEngine" ref="disel" />
	</bean>

</beans>