<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="pwd" class="com.rajabhay.beans.PwdServiceImpl" />
	<bean id="email" class="com.rajabhay.beans.EmailServiceImpl" />
	<bean id="dao" class="com.rajabhay.beans.UserDaoImpl" />
	<bean id="user" class="com.rajabhay.beans.UserService"
		autowire="constructor" />

</beans>