<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dr" class="com.rajabhay.beans.DataReader" depends-on="dw"/>
	<bean id="dw" class="com.rajabhay.beans.DataWriter"/>
</beans>